<section class="page-top-recipe">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-2">
                <div class="pt-recipe-item large-item">
                    <div class="img"><img  src="../../assets/img/baterias/bateria7.jpg" alt="">
                    </div>
                    <div class="pt-recipe-text">
                        <!-- <span>Marzo 10, 2019</span> -->
                        <h4>Batería acústica Gretsch</h4>
                        <h5>Precio: L. 30,000.00</h5>
                    </div>
                    <div class="img"><img  src="../../assets/img/baterias/bateria8.jpg" alt="">
                    </div>
                    <div class="pt-recipe-text">
                        <h4>Batería acústica ddrum</h4>
                        <h5>L. 25,000.00 </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 order-lg-1">
                <div class="pt-recipe-item">
                    <div class="img"><img src="../../assets/img/baterias/bateria1.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4>Batería acústica negra AudioTek</h4>
                        <h5>L. 25,000.00 </h5>
                    </div>
                </div>
                <div class="pt-recipe-item">
                    <div class="img"><img src="../../assets/img/baterias/bateria2.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4>Batería acústica negra Tornado</h4>
                        <h5> Precio: L. 20,000.00 </h5>
                    </div>
                </div>
                <div class="pt-recipe-item">
                    <div class="img"><img  src="../../assets/img/baterias/bateria3.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4>Batería acústica roja Peyel</h4>
                        <h5> Precio: L. 20,000.00 </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 order-lg-3">
                <div class="pt-recipe-item">
                    <div class="img"><img src="../../assets/img/baterias/bateria4.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4>Batería acústica roja Yamaha</h4>
                        <h5> Precio: L. 40,000.00 </h5>
                    </div>
                </div>
                <div class="pt-recipe-item">
                    <div class="img"><img src="../../assets/img/baterias/bateria5.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4>Batería eléctrica Traps</h4>
                        <h5> Precio: L. 15,000.00 </h5>
                    </div>
                </div>
                <div class="pt-recipe-item">
                    <div class="img"><img  src="../../assets/img/baterias/bateria6.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4>Batería acústica Peyel</h4>
                        <h5> Precio: L. 20,000.00 </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>