<section class="page-top-recipe">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-lg-1">
                <div class="pt-recipe-item">
                    <div class="img"><img width="300" height="200" src="../../assets/img/recipe/marca1.jpg" alt="">
                    </div>
                    <div class="pt-recipe-text">
                        <h4></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 order-lg-1">
                <div class="pt-recipe-item">
                    <div class="img"> <img width="300" height="200" src="../../assets/img/recipe/marca2.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 order-lg-1">
                <div class="pt-recipe-item">
                    <div class="img"><img src="../../assets/img/recipe/marca3.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 order-lg-1">
                <div class="pt-recipe-item">
                    <div class="img"><img src="../../assets/img/recipe/marca4.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 order-lg-1">
                <div class="pt-recipe-item">
                    <div class="img"><img src="../../assets/img/recipe/marca5.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 order-lg-1">
                <div class="pt-recipe-item">
                    <div class="img"><img src="../../assets/img/recipe/marca6.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 order-lg-1">
                <div class="pt-recipe-item">
                    <div class="img"><img src="../../assets/img/recipe/marca7.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 order-lg-1">
                <div class="pt-recipe-item">
                    <div class="img"><img src="../../assets/img/recipe/marca8.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>