<section class="page-top-recipe">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-2">
                <div class="pt-recipe-item large-item">
                    <div class="img"><img  src="../../assets/img/baterias/bateria7.jpg" alt="">
                    </div>
                    <div class="pt-recipe-text">
                        <!-- <span>Marzo 10, 2019</span> -->
                        <h4>Batería acústica Gretsch</h4>
                        <h5>Precio: L. 30,000.00</h5>
                    </div>
                    <div class="img"><img  src="../../assets/img/guitarras/guitarra1.jpg" alt="">
                    </div>
                    <div class="pt-recipe-text">
                        <h4>Guitarra Electroacústica Gibson</h4>
                        <h5> Precio: L. 8,000.00 </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 order-lg-1">
                <div class="pt-recipe-item">
                    <div class="img"><img src="../../assets/img/bajos/bajos6.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4>Bajo eléctrico pasivo color blanco</h4>
                        <h5> Precio: L. 9,000.00 </h5>
                    </div>
                </div>
                <div class="pt-recipe-item">
                    <div class="img"><img src="../../assets/img/pianos/piano4.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4>Soporte para teclado</h4>
                        <h5> Precio: L. 1,000.00 </h5>
                    </div>
                </div>
                <div class="pt-recipe-item">
                    <div class="img"><img  src="../../assets/img/baterias/bateria3.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4>Batería acústica roja Peyel</h4>
                        <h5> Precio: L. 20,000.00 </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 order-lg-3">
                <div class="pt-recipe-item">
                    <div class="img"><img src="../../assets/img/pianos/piano6.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4>Teclado Portatil Casiotone</h4>
                        <h5> Precio: L. 13,000.00 </h5>
                    </div>
                </div>
                <div class="pt-recipe-item">
                    <div class="img"><img src="../../assets/img/guitarras/guitarra5.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4>Set de guitarra Gibson negra y dorada</h4>
                        <h5> Precio: L. 13,000.00 </h5>
                    </div>
                </div>
                <div class="pt-recipe-item">
                    <div class="img"><img  src="../../assets/img/bajos/bajos8.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4>Bajo eléctrico Fender</h4>
                        <h5> Precio: L. 13,000.00 </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>