<section class="page-top-recipe">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-2">
                <div class="pt-recipe-item large-item">
                    <div class="img"><img width="300" height="900" src="../../assets/img/guitarras/guitarra3.jpg" alt="">
                    </div>
                    <div class="pt-recipe-text">
                        <span>Marzo 10, 2019</span>
                        <h3>Guitarra Epiphone negra y dorada</h3>
                        <h5>Precio: L. 10,000.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 order-lg-1">
                <div class="pt-recipe-item">
                    <div class="img"><img src="../../assets/img/guitarras/guitarra2.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4>Guitarra Electroacústica Fender</h4>
                        <h5>L. 6,000.00 </h5>
                    </div>
                </div>
                <div class="pt-recipe-item">
                    <div class="img"><img src="../../assets/img/guitarras/guitarra4.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4>Set de guitarra Fender</h4>
                        <h5> Precio: L. 15,000.00 </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 order-lg-3">
                <div class="pt-recipe-item">
                    <div class="img"><img src="../../assets/img/guitarras/guitarra1.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4>Guitarra Electroacústica Gibson</h4>
                        <h5> Precio: L. 8,000.00 </h5>
                    </div>
                </div>
                <div class="pt-recipe-item">
                    <div class="img"><img src="../../assets/img/guitarras/guitarra5.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4>Set de guitarra Gibson negra y dorada</h4>
                        <h5> Precio: L. 13,000.00 </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>