<section class="page-top-recipe">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-2">
                <div class="pt-recipe-item">
                    <div class="img"><img  src="../../assets/img/pianos/piano1.jpg" alt="">
                    </div>
                    <div class="pt-recipe-text">
                        <!-- <span>Marzo 10, 2019</span> -->
                        <h4>Piano Yamaha con funda</h4>
                        <h5>Precio: L. 15,000.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 order-lg-1">
                <div class="pt-recipe-item">
                    <div class="img"><img src="../../assets/img/pianos/piano2.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4>Midi Teclado multiefectos</h4>
                        <h5>L. 6,000.00 </h5>
                    </div>
                </div>
                <div class="pt-recipe-item">
                    <div class="img"><img src="../../assets/img/pianos/piano3.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4>Teclado Kaiser con atril</h4>
                        <h5> Precio: L. 10,000.00 </h5>
                    </div>
                </div>
                <div class="pt-recipe-item">
                    <div class="img"><img src="../../assets/img/pianos/piano6.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4>Teclado Portatil Casiotone</h4>
                        <h5> Precio: L. 13,000.00 </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 order-lg-3">
                <div class="pt-recipe-item">
                    <div class="img"><img src="../../assets/img/pianos/piano4.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4>Soporte para teclado</h4>
                        <h5> Precio: L. 1,000.00 </h5>
                    </div>
                </div>
                <div class="pt-recipe-item">
                    <div class="img"><img src="../../assets/img/pianos/piano5jpg.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4>Pedal para teclado</h4>
                        <h5> Precio: L. 700.00 </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>