<section class="page-top-recipe">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-2">
                <div class="pt-recipe-item large-item">
                    <div class="img"><img src="../../assets/img/recipe/recipe-3.jpg" alt="">
                    </div>
                    <div class="pt-recipe-text">
                        <span>Marzo 10, 2019</span>
                        <h3>Guitarras de todas las marcas y estilos</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 order-lg-1">
                <div class="pt-recipe-item">
                    <div class="img"><img src="../../assets/img/recipe/recipe-1.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4>Violines a tu gusto y sonido</h4>
                    </div>
                </div>
                <div class="pt-recipe-item">
                    <div class="img"><img src="../../assets/img/recipe/recipe-2.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4>Baterías de todos los estilos y marcas</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 order-lg-3">
                <div class="pt-recipe-item">
                    <div class="img"><img src="../../assets/img/recipe/recipe-4.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4>Lo que nunca puede faltar en una canción</h4>
                    </div>
                </div>
                <div class="pt-recipe-item">
                    <div class="img"><img src="../../assets/img/recipe/recipe-5.jpg" alt=""></div>
                    <div class="pt-recipe-text">
                        <h4>Teclados para que puedas elegir</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Filter Section Begin -->
<div class="categories-filter-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="filter-item">
                    <ul>
                        <li class="active" data-filter="*">Más Calidad</li>
                        <li data-filter=".mostpopular">Más populares</li>
                        <li data-filter=".meatlover">Más usadas</li>
                        <li data-filter=".glutenfree">Mejor precio</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cf-filter" id="*">
            <div class="cf-item mix all mostpopular">
                <div class="cf-item-pic">
                    <img src="../../assets/img/cate-filter/cate-filter-1.jpg" alt="">
                </div>
                <div class="cf-item-text">
                    <h5></h5>
                </div>
            </div>
            <div class="cf-item mix all mostpopular">
                <div class="cf-item-pic">
                    <img src="../../assets/img/cate-filter/cate-filter-2.jpg" alt="">
                </div>
                <div class="cf-item-text">
                    <h5></h5>
                </div>
            </div>
            <div class="cf-item mix all meatlover mostpopular">
                <div class="cf-item-pic">
                    <img src="../../assets/img/cate-filter/cate-filter-3.jpg" alt="">
                </div>
                <div class="cf-item-text">
                    <h5></h5>
                </div>
            </div>
            <div class="cf-item mix all meatlover">
                <div class="cf-item-pic glutenfree">
                    <img src="../../assets/img/cate-filter/cate-filter-4.jpg" alt="">
                </div>
                <div class="cf-item-text">
                    <h5></h5>
                </div>
            </div>
            <div class="cf-item mix all meatlover glutenfree">
                <div class="cf-item-pic">
                    <img src="../../assets/img/cate-filter/cate-filter-5.jpg" alt="">
                </div>
                <div class="cf-item-text">
                    <h5></h5>
                </div>
            </div>
        </div>

        
    </div>
</div>
<!-- Categories Filter Section End -->

<!-- Feature Recipe Section Begin -->
<!-- <section class="feature-recipe">
    <div class="section-title">
        <h5>Featured Recipes</h5>
    </div>
    <div class="container po-relative">
        <div class="plus-icon">
            <i class="fa fa-plus"></i>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="fr-item">
                    <div class="fr-item-img">
                        <img src="../../assets/img/feature-1.jpg" alt="">
                    </div>
                    <div class="fr-item-text">
                        <h4>Sunday Brunch: Spaghetti and Eggs Recipe</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="fr-item">
                    <div class="fr-item-img">
                        <img src="../../assets/img/feature-2.jpg" alt="">
                    </div>
                    <div class="fr-item-text">
                        <h4>Sunday Brunch: Spaghetti and Eggs Recipe</h4>
                        <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature Recipe Section End -->

